<% i = 1 %>
<% @reviews.each do |review| %>
  <h3>Review <%= i %></h3>
  <% i += 1 %>
  <p>Content: <%= review.content %></p>
  <p>Stars: <%= review.rating %></p>
<% end %>

<%= link_to 'Create review', new_restaurant_review_path(params[:restaurant_id]) %>
